<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
            <link rel="stylesheet" href="./stylesheets/styles.css">
        {% endblock %}
        {% block scripts %}
            <script type="text/javascript" href="./scripts/submit.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">

            {% block header %}
                {% include "./header.html" %}
            {% endblock %}

            {% block bodycontent %}{% endblock %}
            
        </div>
    </body>
</html>
    