{% import './input.html' as formInputs %}

<form class="config-form" action="config" method="POST">
    <div>
        {{ formInputs.input("text", "Tenant Id", tenant, "tenant", "") }}
        {{ formInputs.input("text", "Site Id", site, "site", "") }}
    </div>
    <div>
        {{ formInputs.input("time", "Job Run Time", starttime, "starttime", "") }}
        {{ formInputs.timeZone() }}
    </div>
    <button class="btn btn-warning btn-lg" id="submit-config" type="submit" value="Submit">Submit</button>
</form>