{% set timezones = ["America/New_York", "America/Chicago", "America/Denver", "America/Los_Angeles"] %}

{% macro input(inputType, label, value, name, classes) %}
    <div class="form-group inline-input">
        <label>{{label}}:</label>
        <input class="form-control {{classes}}" type="{{inputType}}" name="{{name}}" required="required" value="{{value}}">
    </div>
{% endmacro %}

{% macro option(timeZone) %}
    <option {% if (timezone == "{{timeZone}}") %}selected{% endif %} value="{{timeZone}}">{{timeZone}}</option>
{% endmacro %}

{% macro timeZone() %}
    <div class="form-group inline-input">
        <label>Time Zone</label>
        <select class="form-control" name="timezone" required="required">
            {% for tz in timezones %}
                {{ option(tz) }}
            {% endfor %}
        </select>
    </div>

{% endmacro %}